In [1]:
# creating a variable called name

name = 'Zubia'

In [2]:
name

'Zubia'

In [3]:
type(name)

str

In [4]:
age = 34

In [5]:
age

34

In [6]:
type(age)

int

In [7]:
1name = "Bob"

SyntaxError: invalid syntax (1963213820.py, line 1)

In [8]:
name1 = "Bob"

In [9]:
first name = "John"

SyntaxError: invalid syntax (3633723842.py, line 1)

In [10]:
first_name = "John"

In [11]:
fruit1, fruit2, fruit3 = "Orange", "Banana", "Cherry"

In [12]:
fruit1

'Orange'

In [13]:
fruit2

'Banana'

In [14]:
fruit3

'Cherry'

In [15]:
fruit1, fruit2 = "Orange", "Banana"

In [16]:
fruit1 = fruit2 = fruit3 = "Orange"

In [17]:
print(fruit1)
print(fruit2)
print(fruit3)

Orange
Orange
Orange

In [18]:
fruit1

'Orange'

In [19]:
2 + 2

4

In [20]:
first_word = "Python3"
second_word = "is"
third_word = "awesome"

first_word + second_word + third_word

'Python3isawesome'

In [21]:
sentence = first_word + " " + second_word + " " + third_word

In [22]:
sentence

'Python3 is awesome'

In [23]:
type(sentence)

str

In [24]:
num1 = 5
num2 = 10

num1 + num2

15

In [25]:
first_word

'Python3'

In [26]:
type(first_word)

str

In [27]:
print(num1)
print(type(num1))

5
<class 'int'>

In [28]:
first_word + num1

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(first_word, ".", num1)

In [29]:
v1 = "Python"
v2 = 3

print(v1, v2)

Python 3

In [30]:
fruit1 = "strawberries"
fruit2 = "bananas"
print("My favourite fruits are", fruit1, "and", fruit2)

My favourite fruits are strawberries and bananas

In [31]:
print(first_word, ".", num1)

Python3 . 5

In [32]:
f"My python version is {first_word}.{num1}"

'My python version is Python3.5'

In [33]:
name

'Zubia'

In [35]:
first_name = name
second_name = "Khan"

In [36]:
print("My full name is", first_name, second_name)

My full name is Zubia Khan

In [37]:
f"My name is {name}"

'My name is Zubia'

In [38]:
age

34

In [39]:
f"My name is {name} and my age is {age}"

'My name is Zubia and my age is 34'